ul {
    /* padding: 10px; */
    /* list-style-type: none; */
    /* border: 1px solid white; */
    /* position: absolute; */
    bottom: 40px;
    right: 20px;
    left: 20px;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    -moz-overflow-scrolling: touch;
}